//camelot.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.127abe55-3840-4ec5-bf00-23bb1422ed6d/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@colorado-legislature-explorer:registry=https://camelot.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.127abe55-3840-4ec5-bf00-23bb1422ed6d/contents/release/npm
